TUSHARE_TOKEN=

MAIL_HOST=smtp.gmail.com
MAIL_USER=
MAIL_TOKEN=
MAIL_SENDER=
MAIL_RECEIVERS=
MAIL_SENDER_NAME=量化机器人
MAIL_RECEIVER_NAME=终端用户

MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=stock_database
MYSQL_CHARSET=utf8
