#### reference: https://github.com/github/gitignore/blob/main/Python.gitignor
# dirs
/Work
__pycache__/
.ipynb_checkpoints/
.idea/
/DataStore/Temp
/DataStore/Local
/Note/Debug/Temp

# files
.DS_Store
*.zip
draft*.py
*.log


