TUSHARE_TOKEN=your_tushare_token

MYSQL_USER=root
MYSQL_PASSWORD=your_mysql_password
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
TS_MYSQL_DATABASE=stock_database_ts
AK_MYSQL_DATABASE=stock_database_ak
MYSQL_CHARSET=utf8mb4
